@import "~bpk-mixins";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $bpk-spacing-xs $bpk-spacing-sm;

  background-color: $bpk-color-white;
  box-shadow: 0 0 10px 0 $bpk-color-gray-300;
  line-height: 18px;
}

.logo {
  display: block;
  height: 18px;
}

.logoText {
  @include bpk-visually-hidden;
}

.TopNav__menu-icon {
  display: block;
  fill: $bpk-color-blue-500;
}
