@import "~bpk-mixins";

.SearchSummary {
  padding: $bpk-spacing-sm $bpk-spacing-sm;
  
  background-color: $bpk-color-blue-500;
  color: $bpk-color-white;
}

.SearchSummary__places {
  font-size: $bpk-font-size-xxl;
  line-height: 1;
}

.SearchSummary__arrow {
  fill: $bpk-color-white;
  
  margin: 0.5625rem 0.1875rem;
  vertical-align: bottom;
}